<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h5>Posisi Terakhir</h5>
    {{ test[1] | pprint }}

    <h5>New Centroid</h5>
    {{ test[2][0] | pprint }}

    <h5>Table 1</h5>
    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Cluster</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
            </tr>
        </thead>
        <tbody>
            {% for i in test[2] %}
                <tr>
                    <td>{{ loop.index }}</td>
                    {% for x in i %}
                        <td>{{ x }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h5>Table 2</h5>
    <table>
        <thead>
            <tr>
                <th>Point</th>
                <th>Cluster</th>
            </tr>
        </thead>
        <tbody>
            {% for i in test[0] %}
                <tr>
                    <td>Data Point {{ i[1] }}</td>
                    <td>Cluster {{ i[0] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>