<script src="{{ url_for('static', filename='assets/vendors/base/vendor.bundle.base.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/template.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendors/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendors/progressbar.js/progressbar.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendors/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendors/justgage/raphael-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendors/justgage/justgage.js') }}"></script>
<script src="{{ url_for('static', filename='assets/js/jquery.cookie.js') }}" type="text/javascript"></script>
<!-- <script src="{{ url_for('static', filename='assets/js/dashboard.js') }}"></script> -->
<script src="{{ url_for('static', filename='assets/datatables/datatables.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/jquery-validation/jquery.validate.js') }}"></script>
<script src="{{ url_for('static', filename='assets/sweetalert/sweetalert.js') }}"></script>
<script src="{{ url_for('static', filename='assets/apexcharts/apexcharts.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/chart.js/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/vendors/plotly/plotly.min.js') }}"></script>

<script>
    $(function(){
        $('.datatables').DataTable({
            responsive: true,
            scrollY: 300,
            deferRender: true,
            scroller: true
        });
    })

    function convertToRupiah(angka)
    {
        var rupiah = '';		
        var angkarev = angka.toString().split('').reverse().join('');
        for(var i = 0; i < angkarev.length; i++) if(i%3 == 0) rupiah += angkarev.substr(i,3)+'.';
        return 'Rp. '+rupiah.split('',rupiah.length-1).reverse().join('');
    }
</script>